:root {
  --toolbar-background: #222;
  --toolbar-foreground: #eee;
  --toolbar-foreground-hover: #fff;
  --code-background: #222;
  --code-foreground: #E5E9F0;
  --footer-background: #f1f1f1;
  --background-color: white;
  --text-color: black;
  --title-color: #222;
  --subtitle-color: #333;
  --link-color: #0555b1;
  --link-color-visited: purple;
  --button-width: 48px;
  --angle: 90deg;
}

[data-theme="dark"] {
  --toolbar-background: #181818;
  --code-background: #181818;
  --background-color: #111;
  --text-color: #eee;
  --title-color: #eee;
  --subtitle-color: #d0d0d0;
  --footer-background:#202020;
  --link-color: #81a1c1;
  --link-color-visited: #b48ead;
}
[data-theme="dark"] .themed { 
  filter: invert(1);
  background: transparent;
}


html {
  width: 100%;
  font-family: Lexend, Helvetica Neue, sans-serif;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

nav {
  user-select: none;
  font-kerning: auto;
  background: var(--toolbar-background);
  overflow: hidden;
  height: 70px;
}

nav a:visited {
 color: var(--toolbar-foreground);
}

nav a {
  color: var(--toolbar-foreground);
  text-decoration: none;
}

nav a:hover {
  color: var(--toolbar-foreground-hover);
}

nav > div {
  max-width: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
}

nav .links {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
}

@media (max-width: 436px) {
  .full {
    display: none;
  }
}

nav h1 {
  font-size: 1.7em;
  margin-top: 17px;
  margin-bottom: 2px; 
}

nav h2 {
  padding-top: 4px;
  padding-right: 22px;
  font-size: larger;
  float: right;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  margin: 0;
  position: absolute;
  width:100%;
  min-height: 100vh;
  font-size: medium;
}

h1 {
  color: var(--title-color);
}

h2 {
  color: var(--subtitle-color);
}

img{
  max-width:100%;
  max-height:100%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  border-radius: .7em;
  background: white;
}

pre, .codehilite {
  border-radius: .7em;
}

pre {
  background: var(--code-background);
  color: var(--code-foreground);
  overflow-x: auto;
}

blockquote {
  font-style: italic;
  color: var(--subtitle-color);
  text-align: center;
}

footer {
  background: var(--footer-background);
  color: var(--subtitle-color);
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
  bottom: 0;
  width: 100%;
}

.content {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.post-content {
  max-width: 800px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding: 0 22px;
}

.comment-section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.posts-list {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.post-header {
  max-height: 450px;
  width: 100%;
  resize: none;
  object-fit: cover;
  border-radius: 0;
}

.posts-list li {
  display: flex;
  flex-direction: column;
}

.posts-list p {
  margin-top: 5px;
}

.posts-list span {
  font-size: small;
  color: var(--subtitle-color);
  justify-content: right;
}

code {
  font-size: medium;
  font-family: 'Roboto Mono', 'Andale Mono', monospace;
}

p > code, li > code {
    background: var(--code-background);
    color: var(--code-foreground);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}


.date {
  color: var(--subtitle-color);
  opacity: 0.9; 
  font-size: small;
}

table, td, th {
  text-align: left;
  padding: 5px 16px;
  border-collapse: collapse;
  border: 1px solid var(--subtitle-color);
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin: 0;
}


/*
  Dark mode yin yang button
  https://css-tricks.com/creating-yin-yang-loaders-web/
*/
#darkmode-button {
  cursor: pointer;
  user-select: none;
  transform: rotate(90deg);
  transition: linear 270ms;
  padding-right: 0;
  margin-top: 9px;
  margin-left: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  background: linear-gradient(var(--toolbar-background) 50%, white 0);
}

/* Light Mode */
#darkmode-button .black, #darkmode-button .white {
  flex-direction: row;
  border-radius: 50%;
  background: var(--toolbar-background);
  border: solid 7px white;
  content: '';
  box-sizing: border-box;
}
#darkmode-button .black { /*Black circle*/
  width: 30px;
  height: 30px;
}
#darkmode-button .white { /*white circle*/
  background: white;
  border-color: var(--toolbar-background);
  width: 18px;
  height: 18px;
}

/* Dark Mode */
[data-theme="dark"] #darkmode-button { 
  transform: rotate(270deg);
}

[data-theme="dark"] #darkmode-button .black { /*Black circle*/
  width: 18px !important;
  height: 18px !important;
}

[data-theme="dark"] #darkmode-button .white { /*White circle*/
  width: 30px !important;
  height: 30px !important;
}




